
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

@model AdDetailViewModel

@if(!Model.IsValid){
    <span class="badge badge-success" style="font-size: 25px;">This ad has been sucesfully closed. Please contact the other user for finalization of the transaction.</span>
 
<br />
<br />
}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@Model.Title</h1>

        @if (Model.Images.Count() == 0)
        {
            <div>This ad does not contain any images. For more images contact creator.</div>
        }

        @if (Model.Images.Count() > 0)
        {
            <div id="carouselExampleControls" class="carousel slide" data-interval="false">
                <div class="carousel-inner" style="width: 100">
                    @{
                        var first = true;
                    }
                    @foreach (var item in Model.Images)
                    {
                        <div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))">
                            <img class="img-fluid" src="@item.Url" >
                        </div>
                        first = false;
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
               data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
               data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        }
    </div>
</div>

<div>
    <div>
        <p class="mb-4" style="font-size: 25px;">@Model.Description</p>
    </div>

    <ul class="list-inline mb-3 mb-lg-2 tag-font" style="font-size: 20px;">
        @foreach (var tag in Model.AdTags)
        {
            <li class="list-inline-item">#@tag.Tag.TagName</li>
        }
    </ul>
</div>

<table style="width:35%; font-size: 20px;">
    <tr>
        <td> <b> From user: </b></td>
        <td>@Html.ActionLink(@Model.Creator.UserName, "Details", "User", new { Id = @Model.Creator.Id }, null)</td>
    </tr>
    <tr>
        <td> <b> Price: </b></td>
        <td>@Model.Price €</td>
    </tr
    <tr>
        <td> <b> Type: </b></td>
        <td>
            @if (Model.IsOffer)
            {
                <div>Offer</div>
            }
            @if (!Model.IsOffer)
            {
                <div>Demand</div>
            }
        </td>
    </tr>
</table>

<br />
<div>
    <a class="btn btn-secondary my-1" href="@Url.Action("Index")">Back to list</a>
</div>
<br />


@if (Model.IsValid){

    <h3> <b>Interested? </b> </h3>
    <div>
        <a class="btn btn-outline-primary mt-2" asp-action="React" asp-route-id="@Model.Id">React</a>
    </div>

    <br />
}




@if (Model.Reactions != null && Model.IsValid)
{
    @foreach (var reaction in Model.Reactions)
    {
        <div class="card">
            <h5 class="card-header">
                <a asp-controller="User" asp-action="Details" asp-route-id="@reaction.User.Id">@reaction.User.UserName</a>
            </h5>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">@reaction.Message</p>
                @if (!reaction.Rejected)
                {
                    <a asp-action="AcceptReaction" asp-route-adId="@Model.Id" asp-route-reactionId="@reaction.Id" class="btn btn-success">Accept</a>
                    <a asp-action="RejectReaction" asp-route-adId="@Model.Id" asp-route-reactionId="@reaction.Id" class="btn btn-danger">Decline</a>
                }
                @if (reaction.Rejected)
                {
                    <span class="badge badge-danger">Declined</span>
                }
            </div>
        </div>
    }

}

@if (Model.Reactions != null && !Model.IsValid)
{
    @foreach (var reaction in Model.Reactions)
    {
        @if (reaction.Accepted)
        {
            
        <div class="card">
            <h5 class="card-header">
                <a asp-controller="User" asp-action="Details" asp-route-id="@reaction.User.Id">@reaction.User.UserName</a>
            </h5>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">@reaction.Message</p>
                <span class="badge badge-success">Accepted</span>
                
            </div>
        </div>
        }
    }

}



