@using System.Security.Claims
@model AdIndexViewModel

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://fontawesome.com/v4.7.0/assets/font-awesome/css/font-awesome.css">


<h1>Ads</h1>
<a class="btn btn-primary" href="@Url.Action("Add")">Add</a>

<div class="container2">
    <div class="row">
<aside class="col-md-3 m-l-m-10">
@using (Html.BeginForm())
{
    <div class="card z-index-100">
        <article class="filter-group">
            <header class="card-header">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Ad Title</h6>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    <table class="main_div">
                        <tr>
                            <td>@Html.TextBoxFor(x => x.LikeTitleName, new {@class = "form-control"})</td>
                            <td><button class="btn btn-secondary my-1" type="submit">Search</button></td>
                        </tr>
                    </table>
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        <article class="filter-group">
            <header class="card-header">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Price range </h6>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Min</label>
                            <input asp-for="MinPrice" class="form-control" type="number" min="0" />
                            <span asp-validation-for="MinPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group text-right col-md-6">
                            <label>Max</label>
                            <input asp-for="MaxPrice" class="form-control" type="number" min="0" />
                            <span asp-validation-for="MaxPrice" class="text-danger"></span>
                        </div>
                    </div> <!-- form-row.// -->
                </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        <article class="filter-group">
            <header class="card-header">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Type of Ads </h6>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
                <div class="card-body">
                    <input type="radio" name="TypeOfAd" value="Both" checked="checked" asp-for="TypeOfAd"/> Both<br />
                    <input type="radio" name="TypeOfAd" value="Offer" asp-for="TypeOfAd"/> Offer<br />
                    <input type="radio" name="TypeOfAd" value="Demand" asp-for="TypeOfAd"/> Demand<br />
                </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        <!--<article class="filter-group">
            <header class="card-header">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Order by </h6>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
                < <div class="card-body">
                    <input type="radio" name="TypeOfOrder" value="A-Z" checked="checked" asp-for="TypeOfOrder"/> A-Z<br />
                    <input type="radio" name="TypeOfOrder" value="Lowest price" asp-for="TypeOfOrder"/> Lowest price<br />
                    <input type="radio" name="TypeOfOrder" value="Highest price" asp-for="TypeOfOrder"/> Highest price<br />
                </div> card-body.// 
            </div>
        </article>  -->
        <article class="filter-group">
            <header class="card-header">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Tags </h6>
            </header>
            <div class="filter-content collapse show" id="collapse_2" style="">
                <div class="card-body">
                    <table>
                        @foreach (var tag in Model.Tags)
                        {
                            <tr>
                                <td>
                                    <input name="TagIds" type="checkbox" id="@tag.Id" value="@tag.Id"/><span> @tag.TagName</span>
                                </td>
                            </tr>
                        }
                    </table>
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
    </div>
    <!-- card.// -->
}
</aside>
<main class="col-md-9 z-index-1">
    <div class="container2 d-flex justify-content-center mb-50 ">
        <div class="d-flex justify-content-center">
            <div class="col-md-10-custom">
                @foreach (var ad in Model.Ads)
                {
                    <div class="card card-body mb-2">
                        <div class="media align-items-center align-items-lg-start text-left text-lg-left flex-column flex-lg-row">
                            @if (true)
                            {
                                <div class="mr-2 mb-3 mb-lg-0">
                                    <img src="@("/images/" + (ad.Images.Count() > 0 ? ad.Images.First().Url : ""))" width="150" height="150" alt="No images uploaded">
                                </div>
                            }

                            

                            <div class="media-body w-760">
                                <h6 class="media-title font-weight-semibold">
                                    <a asp-controller="Ad" asp-action="Details" asp-route-id="@ad.Id" data-abc="true">
                                        @if (ad.IsPremium)
                                        {
                                            <span class="star">&#11088;</span>
                                        }
                                        @ad.Title
                                        @if (!ad.IsValid)
                                        {
                                            <span class="text-ban"> - EXPIRED</span>
                                        }    
                                    </a>
                                </h6>

                                <ul class="list-inline mb-3 mb-lg-2 tag-font">
                                    @foreach (var tag in ad.AdTags)
                                    {
                                        <li class="list-inline-item">#@tag.Tag.TagName</li>
                                    }
                                </ul>
                                <p class="mb-3">@ad.Description</p>

                                <p class="position-absolute b-10">From user: @Html.ActionLink(@ad.Creator.UserName, "Details", "User", new { Id = @ad.Creator.Id }, null)</p>
                            </div>

                            <div class="mt-3 mt-lg-0 me-lg-3 text-center">
                                <h3 class="mb-0 font-weight-semibold">$@ad.Price</h3>
                                @if (ad.IsOffer)
                                {
                                    <h6 class="text-success">Offer</h6>
                                }
                                @if (!ad.IsOffer)
                                {
                                    <h6 class="text-success">Demand</h6>
                                }
                                <table>
                                    <tr>
                                        <td><a class="btn btn-primary mt-3" asp-action="Details" asp-route-id="@ad.Id">Details</a></td>
                                    </tr>
                                    @if (@ad.IsValid && @ad.Creator.Id != new Guid(User.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? ""))
                                    {
                                        <tr>
                                            <td><a class="btn btn-outline-primary mt-2" asp-action="React" asp-route-id="@ad.Id">React</a></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>
</div>
</div>