@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="d-flex justify-content-between">
    <h4>User Profile</h4>
    <a class="btn btn-secondary my-1" href="@Url.Action("Index")">Back</a>
</div>

<form id="profile-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <div class="form-floating">
        <input asp-for="UserName" class="form-control" />
        <label asp-for="UserName" class="form-label"></label>
    </div>
    <div class="form-floating">
        <input asp-for="FirstName" class="form-control" />
        <label asp-for="FirstName" class="form-label"></label>
    </div>
    <div class="form-floating">
        <input asp-for="LastName" class="form-control" />
        <label asp-for="LastName" class="form-label"></label>
    </div>
        <div class="form-floating">
        <input asp-for="PhoneNumber" class="form-control" />
        <label asp-for="PhoneNumber" class="form-label"></label>
    </div>
    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
</form>
<br><br>
<h4 class="text-align-center">My Ads</h4>

<div class="container d-flex justify-content-center mt-50 mb-50 ">
    <div class="d-flex justify-content-center">
        <div class="col-md-10">
        @foreach (var ad in Model.Ads)
        {
            <div class="card card-body mb-2">
                <div class="media align-items-center align-items-lg-start text-left text-lg-left flex-column flex-lg-row">
                    <div class="mr-2 mb-3 mb-lg-0">

                        <img src="https://i.imgur.com/5Aqgz7o.jpg" width="150" height="150" alt="">

                    </div>

                    <div class="media-body w-760">
                        <h6 class="media-title font-weight-semibold">
                            <a asp-controller="Ad" asp-action="Details" asp-route-id="@ad.Id" data-abc="true">@ad.Title</a>
                            @if (!ad.IsValid)
                            {
                                <span class="text-ban"> - EXPIRED</span>
                            }  
                        </h6>

                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                            @foreach (var tag in ad.AdTags)
                            {
                                <li class="list-inline-item">#@tag.Tag.TagName</li>
                            }
                        </ul>
                        <p class="mb-3">@ad.Description</p>

                        <p class="position-absolute b-10">From user: @Html.ActionLink(@ad.Creator.UserName, "Details", "User", new { Id = @ad.Creator.Id }, null)</p>
                    </div>

                    <div class="mt-3 mt-lg-0 me-lg-3 text-center">
                        <h3 class="mb-0 font-weight-semibold">$@ad.Price</h3>
                        @if (ad.IsOffer)
                        {
                            <h6 class="text-success">Offer</h6>
                        }
                        @if (!ad.IsOffer)
                        {
                            <h6 class="text-success">Demand</h6>
                        }
                        
                        <a class="btn btn-primary mt-3" asp-action="Details" asp-route-id="@ad.Id">Details</a>
                        <a class="btn btn-outline-primary mt-2" asp-action="React" asp-route-id="@ad.Id">React</a>
                    </div>
                </div>
            </div>
        }
        </div>                     
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
