@model UserIndexViewModel

<h4>Users</h4>


<div class="w-a">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <table class="main_div">
            <tr>
                <td><label class="control-label">Username: </label></td>
                <td><label for="sel1">Select Role:</label></td>
                <td><label for="sel1">Select Status:</label></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })</td>
                <td> 
                    @Html.DropDownListFor(x => x.Role, new SelectList(new string[]{"Admin", "Role"}), "None", new { @class = "form-control" })
                </td>
                <td>
                    @Html.DropDownListFor(x => x.Banned, new SelectList(new object[]{new {Val = true, Name = "Banned"}, new {Val = false, Name = "Not Banned"}}, "Val", "Name"), "None", new { @class = "form-control" })
                </td>
                <td><button class="btn btn-secondary my-1" type="submit">Search</button></td>
            </tr>
        </table>
    }
 </div>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width:70%">UserName</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr class="tbl">
            <td>@user.UserName</td>
            <td>...</td>
            @if (user.Banned)
            {
                <td class="text-ban">Banned</td>
                <td>
                    @using (Html.BeginForm("Unban", "User", new { id = user.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
                    {
                        <a class="btn btn-secondary my-1" href="@Url.Action("Details", new { Id = user.Id })">Details</a>
                        <input class="btn btn-unban my-1" type="submit" value="Unban" />
                    }
                </td>
            }
            else
            {
                <td class="text-unban">Not-Banned</td>
                <td>
                    @using (Html.BeginForm("Ban", "User", new { id = user.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
                    {
                        <a class="btn btn-secondary my-1" href="@Url.Action("Details", new { Id = user.Id })">Details</a>
                        <input class="btn btn-ban my-1" type="submit" value="Ban" />
                    }
                </td>
            }
        </tr>
    }
    </tbody>
</table>